/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@media (min-width: 1024px) {
   .top-navigation .trigram {
    display: none;
  } 

  /* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
  .top-navigation ul li:hover a{
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }

  .email li:hover a {
    color: white;
    text-decoration: underline;
  }

  .phones li:hover a {
    color: white;
    text-decoration: underline;
  }
  .teammate-social-icons div:hover{
    background-color: rgb(77, 76, 76);
  }

  footer .social-icons div:hover .icon{
    background-color: white;
    
  }

  footer .social-icons div:hover{
    color: white;
  }

}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
@media (max-width: 1023px) {

  header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   background-color: white;
   box-shadow: 0 4px 8px rgb(162, 162, 162)
  }

  .top-navigation .trigram {
    display: block;
    justify-content: flex-end;
  }
  
  .content p.subtext {
    width: 100%;
    padding: 0px;
  }

  .teammates-content p.subtext {
    padding: 0px 60px;
  }

  .teammates-list:before {
    display: none;
  }

  .teammates-list:after {
    display: none;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
  }

  .teammate{
  align-items: center;
  width: 330px;
  }

  .teammate-img-wrapper {
    width: 100%;
  }

  .teammate-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teammate-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teammate-social-icons div {
    background-color: rgb(181, 179, 179);
  }

  .portfolio-content .portfolio-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .portfolio-item {
    display: flex;
    flex-flow: row;
  }

  .portfolio-item .item-title {
    margin-top: 20px;
  }

  .top-navigation li {
    display: none
  }

  footer .social-icons div .icon{
    background-color: white;
    
  }

  footer .social-icons div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }

  footer .social-icons span {
    display: none;
  }

  footer .email li a {
    color: white;
  }

  footer .phones li a {
    color: white;
  }
  /* Add any common styles for tablet and mobile views here */
}













/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

@media (max-width: 767px) {
  /* Add the styles that belong to the MOBILE view only beneath */
  
  .portfolio-item {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .portfolio-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p.item-description {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
    
  .teammates-content p.subtext {
    width: 100%;
    padding: 20px;
  }

  .teammate {
    width: 100%;
    border: solid rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .teammate-data {
    align-items: flex-start;
  }

  .teammate-info {
    align-items: flex-start;
  }

  .teammate-social-icons {
    gap: 20px;
  }

  .teammate-img-wrapper {
    padding: 15px
  }

  footer .social-icons {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    gap: 10px;
  }

  footer .social-icons div {
    justify-content: flex-start;
  }

  footer .social-icons span{
    display: block;
  }

  footer content{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}