/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@media (min-width: 1024px) {
   .top-navigation .trigram {
    display: none;
  } 

  /* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
  .top-navigation ul li:hover a{
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }

  .email li:hover a {
    color: white;
    text-decoration: underline;
  }

  .phones li:hover a {
    color: white;
    text-decoration: underline;
  }
  .teammate-social-icons div:hover{
    background-color: rgb(77, 76, 76);
  }

  footer .social-icons div:hover .icon{
    background-color: white;
    
  }

  footer .social-icons div:hover{
    color: white;
  }

}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
@media (max-width: 1023px) {

  .top-navigation .trigram {
    display: block;
    justify-content: flex-end;
  }
  
  .content p.subtext {
    width: 100%;
    padding: 0px;
  }

  .teammates-content p.subtext {
    padding: 0px 60px;
  }

  .teammates-list:before {
    display: none;
  }

  .teammates-list:after {
    display: none;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
  }

  .teammate{
  align-items: center;
  width: 330px;
  }

  .teammate-img-wrapper {
    width: 100%;
  }

  .teammate-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teammate-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teammate-social-icons div {
    background-color: rgb(63, 62, 62);
  }

  .portfolio-content .portfolio-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .portfolio-item {
    display: flex;
    flex-flow: row;
  }

  .portfolio-item .item-title {
    margin-top: 20px;
  }

  .top-navigation li {
    display: none
  }

  footer .social-icons div .icon{
    background-color: white;
    
  }

  footer .social-icons div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }

  footer .social-icons span {
    display: none;
  }

  footer .email li a {
    color: white;
  }

  footer .phones li a {
    color: white;
  }
  /* Add any common styles for tablet and mobile views here */
}













/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

@media (max-width: 767px) {
  /* Add the styles that belong to the MOBILE view only beneath */
  
    
  }

